/* You can add global styles to this file, and also import other style files */

@import url('https://www.nlm.nih.gov/home_assets/uswds/css/styles.css');

app-sources tr td{
  border-width: 1px;
  padding: 5px;
}

app-sources h2 {
margin: 10px 0px 10px 0px;
padding: 10px 0px 10px 0px;
}

nav[aria-label="breadcrumb"] {
font-size: 0.8em;
padding: 10px 0px 10px 0px;
}

.bg-secondary {
  background-color: #edf2f7 !important;
}

.mat-mdc-row .vocabulary-list,
.mdc-data-table__content .vocabulary-list {
    font-size: 20px !important;
}

.mat-mdc-row, .mdc-data-table__content {
  font-size: 20px !important;
}

table {
  margin-bottom: 25px; /* Adjust the value as needed */
}