<sitenav>
    <nav>
        <topnav>How to Use VSAC</topnav>
        <subnav>
            <subtitle>Request a UMLS License</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/usingvsac/requestlicense.html</location>
        </subnav>
        <subnav>
            <subtitle>Author Registration</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/usingvsac/authorregistration.html</location>
        </subnav>
        <subnav>
            <subtitle>Search VSAC</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/usingvsac/searchvsac.html</location>
        </subnav>
        <subnav>
            <subtitle>VSAC API</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/usingvsac/vsacapi.html</location>
        </subnav>
        <subnav>
            <subtitle>Video Tutorials</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/videotutorials/videotutorials.html</location>
        </subnav>
    </nav>
    <nav>
        <topnav>Authoring Guidelines</topnav>
        <subnav>
            <subtitle>Author and Steward Roles</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/authorguidelines/authorstewardroles.html</location>
        </subnav> 
        <subnav>
            <subtitle>Authoring Workflow</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/authorguidelines/authoringworkflow.html</location>
        </subnav> 
        <subnav>
            <subtitle>Best Practices</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/authorguidelines/bestpractices.html</location>
        </subnav>
        <subnav>
            <subtitle>Updating Value Sets</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/authorguidelines/updatingvaluesets.html</location>
        </subnav>
        <subnav>
            <subtitle>VSAC Automatic Updates</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/authorguidelines/automaticupdates.html</location>
        </subnav>
        <subnav>
            <subtitle>Terminologies and Tools</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/authorguidelines/terminologiestools.html</location>
        </subnav>
    </nav>
    <nav>
        <topnav>VSAC User Forum Monthly Webinar</topnav>
        <subnav>
            <subtitle>VSAC User Forum Page</subtitle>
            <location>http://www.nlm.nih.gov/vsac/support/userforum/userforum.html</location>
        </subnav>
    </nav>
</sitenav>