<sitenav>
    <nav>
        <topnav>How to Use VSAC</topnav>
        <subnav>
            <subtitle>Request a UMLS License</subtitle>
            <location>/vsac/support/usingvsac/requestumlslicense.html</location>
        </subnav>
        <subnav>
            <subtitle>Code Systems in VSAC</subtitle>
            <location>/vsac/support/usingvsac/code-systems.html</location>
        </subnav>
        <subnav>
            <subtitle>Author Registration</subtitle>
            <location>/vsac/support/usingvsac/author_registration.html</location>
        </subnav>
        <subnav>
            <subtitle>Search VSAC</subtitle>
            <location>/vsac/support/usingvsac/searchvsac.html</location>
        </subnav>
        <subnav>
            <subtitle>VSAC API</subtitle>
            <location>/vsac/support/usingvsac/vsacsvsapiv2.html</location>
        </subnav>
        <subnav>
            <subtitle>Legacy VSAC API (deprecated)</subtitle>
            <location>/vsac/support/usingvsac/deprecatedvsacapi.html</location>
        </subnav>
        <subnav>
            <subtitle>Video Tutorials</subtitle>
            <location>/vsac/support/videotutorials/videotutorials.html</location>
        </subnav>
        <subnav>
            <subtitle>FAQ</subtitle>
            <location>/vsac/support/faq/faq.html</location>
        </subnav>
    </nav>
    <nav>
        <topnav>Authoring Guidelines</topnav>
        <subnav>
            <subtitle>Author and Steward Roles</subtitle>
            <location>/vsac/support/authorguidelines/authorstewardroles.html</location>
        </subnav> 
        <subnav>
            <subtitle>Authoring Workflow</subtitle>
            <location>/vsac/support/authorguidelines/authoringworkflow.html</location>
        </subnav> 
        <subnav>
            <subtitle>Best Practices</subtitle>
            <location>/vsac/support/authorguidelines/bestpractices.html</location>
        </subnav>
        <subnav>
            <subtitle>Updating Value Sets</subtitle>
            <location>/vsac/support/authorguidelines/updatingvaluesets.html</location>
        </subnav>
        <subnav>
            <subtitle>VSAC Automatic Updates</subtitle>
            <location>/vsac/support/authorguidelines/automaticupdates.html</location>
        </subnav>
        <subnav>
            <subtitle>Terminologies and Tools</subtitle>
            <location>/vsac/support/authorguidelines/terminologies_tools.html</location>
        </subnav>
    </nav>
    <nav>
        <topnav>VSAC Users' Forum Monthly Webinar</topnav>
        <subnav>
            <subtitle>VSAC Users' Forum Page</subtitle>
            <location>/vsac/support/userforum/userforum.html</location>
        </subnav>
    </nav>
    <nav>
        <topnav>Publications</topnav>
        <subnav>
            <subtitle>Papers and Posters</subtitle>
            <location>/vsac/support/publications/papersandposters.html</location>
        </subnav>
    </nav>
</sitenav>