<sitenav>
    <nav>
        <topnav>How to Use VSAC</topnav>
        <subnav>
            <subtitle>Request a UMLS License</subtitle>
            <location>http://www.first.gov</location>
        </subnav>
        <subnav>
            <subtitle>Request a Pizza</subtitle>
            <location>http://www.first.gov</location>
        </subnav>
        <subnav>
            <subtitle>Search VSAC with a web browser</subtitle>
            <location>http://www.1.gov</location>
        </subnav>
        <subnav>
            <subtitle>VSAC REST API</subtitle>
            <location>http://www.2.gov</location>
        </subnav>
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.3.gov</location>
        </subnav> 
    </nav>
    <nav>
        <topnav>Guidelines for Authoring Value Sets</topnav>
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.a.gov</location>
        </subnav> 
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.b.gov</location>
        </subnav> 
    </nav>
    <nav><topnav>Video Tutorials</topnav>
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.a.gov</location>
        </subnav> 
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.b.gov</location>
        </subnav> 
    </nav>
    <nav><topnav>VSAC Users' Forum Montly Webinar</topnav>
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.a.gov</location>
        </subnav> 
        <subnav>
            <subtitle>Register to become a value set author or steward</subtitle>
            <location>http://www.b.gov</location>
        </subnav> 
    </nav>
</sitenav>