
h2 {
    
text-indent:20%;
}

h3{
 
color:#aa0000 !important;
    
}

.rounded-content-block{
border-radius: 5px 5px 0px 0px;
padding:2px 2px 2px 5px;
margin-top:5px;


}

.description {

max-width:70%;



}

.small {
    font-size:small;
}

.medium {
    
    font-size:.8em;
}

.context {

width:90%;
float:left;
margin-left:15px;
border-bottom: solid 2px #acacac;

}

.context-image{


margin-right:15px;
margin-top:15px;
max-width:120px;
min-width:120px;
padding: 0 0 0 0px;
float:left;

}

.context-resources{
    
    float:left;
    width:75%;
    margin-left:15px;
    
    
}


.caption {

color:#254062;
font-weight:bold;
width:100%;


}

.terminology {

width:95%;


}

.extensions, .mappings, .subsets, .apis, .valuesets {


width:90%;
margin-top:20px;

}

.extension, .mapping, .subset, .api, .valueset{


width:90%;
font-size:inherit !important;
font-family:inherit !important;
background-color:#e7eeeb;
border:solid 1px #000;
}

.properties {



}

.property-list{
    
    
}





.jig-ncbitoggler{
    
width:50%;
font-size:.8em !important;
font-family:inherit !important;
}

.jig-ncbitoggler a {
    
   outline:0;
    
}

.logo {
    
float:left;
margin-right:1%;

}

.footer {
    
font-size:85%;
width:100%;
float:left;
margin-top:20px;

}