table {
  margin: 20px 0px 20px 0px;

}

.vocab-docs-navbar {
    background-color: #f8f8f8;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.vocab-left-menu {
background-color: white !important;
border-top: none !important;
}

.accordion-button {
padding: 5px; !important;
}

hr {
    border-top: 1px solid gray;
    margin: 25px 0px 25px 0px;
}

table, th, td {
  border: 1px solid;
  padding: 4px;
}

.floating-s {
    float: left;
}
.floating-e {
    float: right;
}