table {
  margin: 20px 0px 20px 0px;

}

.vocab-docs-navbar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.vocab-left-menu {
padding: 0px 5px 0px 15px !important;
background-color: white !important;
border-top: none !important;
}