table {
  margin: 20px 0px 20px 0px;

}

.vocab-docs-navbar {
    background-color: #f8f8f8;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.vocab-left-menu {
padding: 0px 5px 0px 15px !important;
background-color: white !important;
border-top: none !important;
}

hr {
    border-top: 1px solid gray;
    margin: 25px 0px 25px 0px;
}

.mini-menu {

}

table, th, td {
  border: 1px solid;
  padding: 4px;
}