@charset "utf-8";
/* CSS Document */









caption
{
	color:#0303;
	background-color:#FFF;
	font-size:30pt;
	font-style:normal;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	
	
	
}




body
{
	font-size:large;
}


table,th,td
{
	
	border:1px solid black;
}


tbody
{
	color:black;
}


div
{
	background:#CF6;
}
	


th
{
	background-color:#693;
	
}